In [1]:
# To ignore future warnings
import warnings
warnings.filterwarnings('ignore')

# Install the library used for calculating LRP
# % pip install innvestigate

import innvestigate
import innvestigate.utils as iutils

Using TensorFlow backend.

In [2]:
from sklearn.datasets import load_iris
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import OneHotEncoder, StandardScaler

import numpy as np
import pandas as pd


import tensorflow as tf
from tensorflow import keras
from keras.layers import Dense, Flatten, Conv2D
import keras.backend
import keras.layers
import keras.models
import keras.utils
from sklearn.metrics import roc_curve, auc, confusion_matrix


import matplotlib.pyplot as plt
plt.style.use('ggplot')

In [24]:
df = pd.read_excel('https://archive.ics.uci.edu/ml/machine-learning-databases/00350/default%20of%20credit%20card%20clients.xls', columns=0)
df.columns = df.iloc[0]
df.drop(axis=0, index=0, inplace = True)
df.set_index('ID', inplace = True)
df.head()

,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,PAY_5,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
ID,,,,,,,,,,,,,,,,,,,,,
1,20000,2,2,1,24,2,2,-1,-1,-2,...,0,0,0,0,689,0,0,0,0,1
2,120000,2,2,2,26,-1,2,0,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
3,90000,2,2,2,34,0,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
4,50000,2,2,1,37,0,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0
5,50000,1,2,1,57,-1,0,-1,0,0,...,20940,19146,19131,2000,36681,10000,9000,689,679,0

In [25]:
df['default payment next month'] = pd.to_numeric(df['default payment next month'])

In [26]:
data = df.drop('default payment next month', axis = 1)
target = pd.DataFrame(df['default payment next month'].copy())

In [27]:
stdscaler = StandardScaler()
data = stdscaler.fit_transform(data.astype(np.float64))

In [28]:
X_train, X_test, y_train, y_test = train_test_split(data, target, test_size=0.3, random_state=42, stratify=target)

In [29]:
from sklearn.linear_model import LogisticRegression

log_reg = LogisticRegression()
log_reg.fit(X_train, y_train)

print('Accuracy on the train set: {:.3f}'.format(log_reg.score(X_train,y_train)))
print('Accuracy on the test set: {:.3f}'.format(log_reg.score(X_test,y_test)))

Accuracy on the train set: 0.812
Accuracy on the test set: 0.808

In [ ]:
# Define the model
model = None
model = keras.Sequential()
model.add(Dense(132, input_dim=X_train.shape[1], activation='relu'))
model.add(Dense(132, activation='relu'))
model.add(Dense(64, activation='relu'))
model.add(Dense(1, activation='sigmoid'))

# Compile model
model.compile(loss='binary_crossentropy', optimizer='adam', metrics=['accuracy'])

# Train
history_callback = model.fit (X_train, y_train, epochs = 10, batch_size = 10,
           validation_data=(X_test, y_test),
           verbose = 1)

scores = model.evaluate(X_test, y_test, verbose=0)

# Evaluate the model's performance:
print('Test log loss:', scores[0])
print('Test accuracy:', scores[1])